.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.workoutBuild {
  max-width: 640px;
  margin: 0 auto;
  color: white;
  font-family:'Ubuntu', sans-serif;
  line-height:2.618rem;

}
.workoutBuild h1 {
  font-size: 2.618rem;
  line-height: 4.236rem;
  color:#2fb3c6;
}
.workoutBuild h2 {
  font-size: $normal;
  line-height: $large;
}
input.exercise-name {
  width:100%;
  height:1.618rem;
}
input.exercise-name,
.exercise-type_select,
.exercise-duration,
.exercise-info {
  background: rgba(255, 255, 255, 0.2);
  border:0;
  color:white;
  height:1.618rem;
  padding:0.382em;
}

.exercise-type_select {
  display:inline-block;
  width: 50%;
  padding: 5px;
  line-height: 1;
  border: 0;
  border-radius:0;

}
.exercise-type_container,
.exercise-duration_container {
  width:50%;
  height:2.618rem;
  display:inline-block;
  float:left;
}
.exercise-duration {
  display:inline-block;
  width:16.18%;
  margin:0 0.382rem ;
}

.exercise-info {
  width:100%;
  height:4.236rem;
  margin-top:0.382rem;
}
.btn-submit {
  width:100%;
  height:2.618rem;
  background-color:#f4f3f3;
  color:#46656a;
  border:1px solid #2fb3c6;
  margin-bottom:1.618rem;
  font-size:1rem;
}
.btn-submit:hover,
.btn-submit:active {
  cursor:pointer;
}
