/* Reset
********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base
********************************/


html {
  background: url(../img/black_thread.png) repeat;
}

nav {
  background: #82d9e5;
  margin-bottom: 4rem;
}

/* Layout
********************************/

input {
  width: 12rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.6rem 1rem 0 0;
}

/* Module
********************************/
.login {
  float: right;
}

.logo {
  color: #46656a;
  font-family: 'Arvo', serif;
  padding: 0.6rem;
  font-size: 2rem;
  display: inline-block;
}

.timer {
  color: #ff8a00;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Arvo', serif;
  font-size: 9rem;
  text-align: center;
  padding: 2.8rem 0;
}

.movement {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
  color: #999;
  color: rgba(255, 255, 255, 0.5);
  background: darkgray;
  background: rgba(0, 0, 0, 0.3);
  border-top: 4px solid;
  border-radius: 6px;
  margin-bottom: 0.4rem;
  padding: 1.4rem;
}

.current.warmup {
  background: rgba(255, 138, 0, 0.3);
  color: white;
}

.warmup {
  border-top-color: #ff8a00;
}

.core {
  border-top-color: #0ea692;
}

.cooldown {
  border-top-color: #2fb3c6;
}

/* State
********************************/



