@import "icon-fonts";
@import "reset";
@import "theme";
@import "workout";
@import "create";
@import "congratulations";

/*******************************
Module
********************************/
nav {
  background: lighten($scooter, 20%);
  margin-bottom: 2rem;
}

.user-login {
  display: none;
  width: 12rem;
  font-size: $small;
  padding: 0.2rem;
  margin: 1rem 1rem 0 0;
}

.login {
  float: right;
}

.logo {
  color: darken($scooter, 20%);
  font-family: 'Arvo', serif;
  padding: 0 0.8rem;
  font-size: $normal;
  display: inline-block;
}
.container{
  max-width: 640px;
  margin: 0 auto;
  color: white;
  line-height: 2.618rem;
}


/*******************************
State
********************************/

@media (min-width: 641px) {
  .user-login {
    display: inline;
  }

  .movement {
    border-radius: 6px;
  }
}

@media (max-width: 640px) {
  .controls {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    background: rgba(70, 101, 106, 0.9);
  }

  .timer {
    padding-bottom: 3rem;
  }
}
